* {
  box-sizing: border-box;
  font-family: 'Kodchasan',
  sans-serif;
}

body {
  font-size: 20px;
  color: #004080;
  line-height: 1.5;
  margin: 0px;
}

nav {
  height: 40px;
  position: fixed;
  width: 100%;
  color: #800080;
  font-weight: bold;
  border-bottom: 1px solid #800080;
  background-color: #e4e4e4;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

nav ul li {
  display: inline-block;
  font-size: 18px;
}

nav .left {
  padding-left: 10px;
}

nav .right {
  float: right;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

.scroll {
  color: #800080;
}

header {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
}

.projects {
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-top: 2px solid #800080;
  border-bottom: 2px solid #800080;
  color: #004080;
  background-color: #e4e4e4;
}



img {
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
}

.bio {
  min-height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  padding-bottom: 40px;
 }

button {
  background-color: teal;
  color: lightgrey;
  border-radius: 4px;
  border: 1px solid lightgrey;
  font-size: 20px;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #800080;
  text-align: left;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-top: 1px solid #800080;
  background-color: #e4e4e4;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

footer ul li {
  display: inline-block;
  font-size: 18px;
}

footer .left {
  padding-left: 10px;
}

footer .right {
  float: right;
  padding-right: 10px;
}

.footerLink {
  color: #800080;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  img {
    width: 250px;
    height: 250px;
    }
}
