* {
  box-sizing: border-box;
}

body {
  font-family: Calibri,
  sans-serif;
  font-size: 20px;
  color: #444;
  line-height: 1.5;
  margin: 0px;
}

nav {
  height: 40px;
  position: fixed;
  background-color: lightgrey;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

nav ul li {
  display: inline-block;
  font-size: 18px;
}

nav .left {
  padding-left: 10px;
}

nav .right {
  float: right;
  padding-right: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

header {
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: center;
}

.projects {
  min-height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #bbb;
}

.quizAppImage {
  width: 200px;
  height: 200px;
  background-color: white;
  display: block;
  margin: auto;
}

.bio {
  min-height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
 }
